---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.svelte";
import BlogPost from "../../components/BlogPost.svelte";

const { slug } = Astro.params;
const POSTS = await getCollection("posts");
const PAGE = POSTS.find((page) => page.data.shortcut === slug);
if (!PAGE) return Astro.redirect("/404");
const { Content } = await PAGE.render();
---

<Layout title={PAGE.data.title + " - k1f0.dev"} desc={PAGE.data.excerpt}>
    <Header client:load />
    <div
        class="flex flex-col m-auto min-h-[calc(100vh-3.5rem)] max-h-[calc(100vh-3.5rem)] w-screen"
        transition:animate="fade"
    >
        <BlogPost dataProps={[PAGE]} client:visible>
            <Content />
        </BlogPost>
    </div>
</Layout>
