---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.data.shortcut }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title + " - k1f0.dev"} desc={entry.data.excerpt}>
    <Header />
    <div
        class="flex flex-col m-auto w-screen min-h-respect-header max-h-respect-header"
        transition:animate="fade"
    >
        <div class="container-fullscreen flex min-h-full w-full max-w-screen-xl m-auto">
            <div class="w-screen p-4">
                <a
                    class="inline-block text-primary uppercase font-mono text-sm mb-4"
                    href="/blog">&lt Go Back</a
                >
                <h1>{entry.data.title}</h1>
                <div class="font-mono text-sm my-5">
                    <p>
                        by <strong>{entry.data.author}</strong> on {
                            new Date(entry.data.date).toLocaleDateString("en-GB")
                        }
                    </p>
                </div>
                <div class="blog-post">
                    <Content />
                </div>
            </div>
        </div>
    </div>
</Layout>
