---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Post.astro";

const { slug } = Astro.params;
const POSTS = await getCollection('posts');
const PAGE = POSTS.find((page) => page.data.shortcut === slug);
if (!PAGE) return Astro.redirect("/404");
const { Content } = await PAGE.render();
---

<Layout title={PAGE.data.title + " - k1f0.dev"} desc={PAGE.data.excerpt}>
    <div class="contentWrapper">
        <div class="container container-fullscreen">
            <Post>
                <a class="btn btn-post-preview" href="/blog">&lt Go Back</a>
                <h1>{PAGE.data.title}</h1>
                <div class="author-mention">
                    <p>
                        by <strong>{PAGE.data.author}</strong> on {
                            new Date(PAGE.data.date).toLocaleDateString(
                                "en-GB"
                            )
                        }
                    </p>
                </div>
                <Content />
            </Post>
        </div>
    </div>
</Layout>
