---
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';
const pages = await Astro.glob('../../posts/*.md')
pages.map(post => ({
    params: {
        shortcut: post.frontmatter.shortcut
    },
    props: {
        post
    }
}));

const { slug } = Astro.params;
const page = pages.find((page) => page.frontmatter.shortcut === slug);
if (!page) return Astro.redirect("/404");
const { Content, frontmatter } = page;
---

<Layout title={frontmatter.title}>
    <div class="contentWrapper">
        <div class="container container-fullscreen">
            <Post>
                <a class="btn btn-post-preview" href="/blog">&lt Go Back</a>
                <h2>{frontmatter.title}</h2>
                <div class="author-mention">
                    <p>by <strong>{frontmatter.author} </strong> on {new Date(frontmatter.date).toLocaleDateString("eu")}</p>
                </div>
                <Content/>
            </Post>
        </div>
    </div>
</Layout>
