---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.svelte";
import BlogPost from "../../components/BlogPost.svelte";
import APIHandler from "../../components/helpers/api";

const { slug } = Astro.params;
const POSTS = await getCollection("posts");
const PAGE = POSTS.find((page) => page.data.shortcut === slug);
if (!PAGE) return Astro.redirect("/404");
const API = new APIHandler();
const { Content } = await PAGE.render();

// initialize kvapi
await API.init();

// hash client's IP
// check for SSR, otherwise dev
let real_ip: string = '127.0.0.1';
if (!import.meta.env.DEV) {
    real_ip = (Astro.request.headers.get("x-forwarded-for") || Astro.clientAddress || "")
        .split(",")[0]
        .trim();
} else console.log("Dev Mode IP: " + real_ip);
const IP_ID = await API.hashClientAddress(real_ip);

// handle POST reqs
if (Astro.request.method === "POST") {
    try {
        const TYPE = await Astro.request.text();
        const RESP = await API.handleRequest(TYPE, slug || "", IP_ID);
        if (RESP instanceof Object) {
            return new Response(
                JSON.stringify({
                    votes: RESP,
                }),
                {
                    status: 200,
                    headers: {
                        "Content-Type": "application/json",
                    },
                },
            );
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout title={PAGE.data.title + " - k1f0.dev"} desc={PAGE.data.excerpt}>
    <Header client:load />
    <div class="w-full flex flex-col min-h-screen" transition:animate="fade">
        <BlogPost dataProps={[PAGE]} client:visible>
            <Content />
        </BlogPost>
    </div>
</Layout>
