---
import markdownit from "markdown-it";
import Shiki from "@shikijs/markdown-it";
import { getRawPostData } from "../../lib/helpers";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

const { short } = Astro.params;
const MARKDOWNIT = markdownit().use(
    await Shiki({
        theme: "dark-plus",
    }),
);
const POST = await getRawPostData(short || "");
if (POST === undefined) return Astro.redirect("/404");
const HTML = MARKDOWNIT.render(POST.content);
---

<Layout title={POST.data.title + " - blog.k1f0.dev"} desc={POST.data.excerpt}>
    <Header />
    <div
        class="flex flex-col w-full h-full min-h-respect-header"
        transition:animate="fade"
    >
        <div
            class="container-fullscreen flex w-full h-full max-w-screen-xl m-auto px-5 py-2"
        >
            <div>
                <div
                    class="flex my-2 items-center content-center justify-start"
                >
                    <a
                        class="inline-block text-primary uppercase font-mono font-semibold text-base"
                        href="/"><span class="text-xl">&lt</span> Go Back</a
                    >
                </div>
                <h1>{POST.data.title}</h1>
                <div class="font-mono text-sm my-5">
                    <p>
                        by <strong>{POST.data.author}</strong> on {
                            new Date(POST.data.date).toLocaleDateString("en-GB")
                        }
                    </p>
                </div>
                <div class="blog-post" set:html={HTML} />
                <div class="flex my-2 items-center content-center justify-end">
                    <a
                        class="inline-block text-primary uppercase font-mono font-semibold text-base"
                        href="/"><span class="text-xl">&lt</span> Go Back</a
                    >
                </div>
            </div>
        </div>
    </div>
</Layout>
