@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "rehype-callouts/theme/obsidian";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f2f2f2;
  --foreground: #0a0c0f;
  --accent: #409885;
  --muted: #2f2f2f;
  --border: #aac5c2;
}

html[data-theme="dark"] {
  --background: #0a0c0f;
  --foreground: #d2d2d2;
  --accent:#409885;
  --muted: #aac5c2;
  --border: #2f2f2f;
}

@theme inline {
  --font-app: var(--font-google-sans-flex);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply max-w-app mx-auto w-full px-4;
}

@utility active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

:target {
  scroll-margin-block: 1rem;
}
