---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - k1f0.dev" desc="Page not found">
    <div
        class="flex flex-row w-full h-full min-h-screen"
        transition:animate="fade"
    >
        <div class="flex flex-col m-auto">
            <div id="text-center text-6xl m-auto">
                <h1 class="text-4xl">404</h1>
                <p class="text-2xl">Page not found.</p>
            </div>
        </div>
    </div>
</Layout>
