---
import Layout from "../layouts/Layout.astro";
import LinkEntry from "../components/LinkEntry.astro";
---

<Layout title="Home - k1f0.dev" desc="Coder & Linux Enthusiast">
    <div
        class="flex flex-col w-full h-full min-h-respect-header"
        transition:animate="fade"
    >
    </div>
</Layout>
