---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - k1f0.dev">
    <div class="w-full flex flex-col min-h-screen" transition:animate="fade">
        <div class="four-o-four-container flex flex-col flex-1 min-h-screen max-w-screen-xl mx-auto">
            <div id="four-o-four">
                <h1>404</h1>
                <p>Page not found.</p>
            </div>
        </div>
    </div>
</Layout>
