---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - k1f0.dev">
    <div
        class="flex flex-col min-h-[calc(100vh-3.5rem)] max-h-[calc(100vh-3.5rem)] m-auto w-screen"
        transition:animate="fade"
    >
        <div class="flex flex-col h-full m-auto w-full max-w-screen-xl p-4">
            <div id="text-center text-6xl m-auto">
                <h1 class="text-4xl">404</h1>
                <p class="text-2xl">Page not found.</p>
            </div>
        </div>
    </div>
</Layout>
