---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <div class="container four-o-four-container">
        <div id="four-o-four">
            <h1>404</h1>
            <p>Page not found.</p>
        </div>
    </div>
</Layout>