---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - k1f0.dev">
    <div class="contentWrapper" transition:animate="fade">
        <div class="container four-o-four-container">
            <div id="four-o-four">
                <h1>404</h1>
                <p>Page not found.</p>
            </div>
        </div>
    </div>
</Layout>
