---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - k1f0.dev" desc="Where are we?">
    <div class="container general-container">
        <article class="general-page">
            <h1>About me</h1>
            <p>
                Hi, I'm k1f0 but my real name is Fabian. I love programming,
                hacking and all sorts of tech related stuff.<br /><br />
                I'm also a big Linux fan and Open-Source advocate and love to share
                my personal projects with the public.<br /><br />
                This is my personal website, which mostly serves as a personal venting
                place where I share my thoughts, insights and general knowledge that
                I deem worth of it. This place might change quite a bit over time
                as I also use it to extend my knowledge of using Astro to build it.<br
                />
                <h2>Find me here:</h2>
                <br />
                <ul id="about-link-list">
                    <li>
                        <a href="https://github.com/0xk1f0">
                            <img src="/svg/github.svg" alt="gh_ic" />
                        </a>
                    </li>
                    <li>
                        <a href="https://codeberg.org/0xk1f0">
                            <img src="/svg/codeberg.svg" alt="gh_ic" />
                        </a>
                    </li>
                </ul>
                <br />
            </p>
        </article>
    </div>
</Layout>
