---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <div class="container about-container">
        <article id="about-page">
            <h1>About me</h1>
            <p>
                Hi, I'm k1f0 but my real name is Fabian. I love programming,
                hacking and all sorts of tech related stuff.<br><br>
                I'm also a big Linux fan and Open-Source advocate and love to share my
                personal projects with the public.<br><br>
                This is my personal website, which mostly serves as a personal venting place 
                where I share my thoughts, insights and
                general knowledge that I deem worth of it. This place might change quite a bit over
                time as I also use it to extend my knowledge of using Astro to build it.<br><br>
                I hope you have a nice day and enjoy your time here, feel free to also checkout
                my other platforms.<br><br>
                ~ k1f0
            </p>
        </article>
    </div>
</Layout>
