---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";

const POSTS = await getCollection('posts');
---

<Layout title="Blog - k1f0.dev" desc="Occasional Blog Posts">
    <div class="container">
        {
            POSTS.toReversed().map((post) => (
                <article class="post">
                    <div id="listing-post-header">
                        <h2>{post.data.title}</h2>
                        <p id="listing-author-mention">
                            by <strong> {post.data.author} </strong> on
                            {new Date(post.data.date).toLocaleDateString(
                                "en-GB"
                            )}
                        </p>
                    </div>
                    <p>{post.data.excerpt}</p>
                    <a
                        class="btn btn-post"
                        href={`/bp/${post.data.shortcut}`}
                    >
                        Read More &gt
                    </a>
                </article>
            ))
        }
    </div>
</Layout>
