---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";

const POSTS = await getCollection("posts");
---

<Layout title="Blog - k1f0.dev" desc="Occasional Blog Posts">
    <Header client:load />
    <div
        class="flex flex-row min-h-[calc(100vh-3.5rem)] max-h-[calc(100vh-3.5rem)] w-screen"
        transition:animate="fade"
    >
        <div
            class="post-container flex flex-col h-full mx-auto w-full max-w-screen-xl p-4"
        >
            {
                POSTS.toReversed().map((post: any) => (
                    <div class="mb-8 listing-post">
                        <div class="flex flex-col lg:flex-row justify-between">
                            <h2>{post.data.title}</h2>
                            <p id="italic text-sm mb-2">
                                by <strong> {post.data.author} </strong> on
                                {new Date(post.data.date).toLocaleDateString(
                                    "en-GB",
                                )}
                            </p>
                        </div>
                        <p>{post.data.excerpt}</p>
                        <a class="btn" href={`/bp/${post.data.shortcut}`}>
                            Read More &gt
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
