---
import Layout from "../layouts/Layout.astro";
---

<Layout title="k1f0.dev" desc="The Starting Void">
    <div class="container general-container">
        <article class="general-page">
            <h1>Hello Visitor</h1>
            <p>
                Not much to see here yet, but you might want to check out my
                <a href="/blog">Blogposts</a>.<br /><br />
            </p>
            <a href="https://xkcd.com/1739">
                <img id="index-img" src="/img/webp/xkcd.webp" alt="xkcd-meme" />
            </a>
        </article>
    </div>
</Layout>
