---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";

// greeting
const currentTime = new Date();
const currentHour = currentTime.getHours();
let greeting: string;
if (currentHour < 14) {
    greeting = "Good morning";
} else if (currentHour < 18) {
    greeting = "Good afternoon";
} else {
    greeting = "Good evening";
}
---

<Layout title="k1f0.dev" desc="The Starting Void">
    <Header client:load />
    <div
        class="flex flex-col min-h-[calc(100vh-3.5rem)] max-h-[calc(100vh-3.5rem)] m-auto w-screen"
        transition:animate="fade"
    >
        <div
            class="general-container flex flex-row h-full m-auto w-full max-w-screen-xl p-4"
        >
            <div class="text-center mx-auto">
                <h1 class="text-foreground mb-3 font-bold text-3xl">
                    {greeting} Visitor!
                </h1>
                <div>
                    <p>
                        I hope you enjoy your stay here.<br />
                         If you would like to read some of the stuff I write,
                        please head over to my <a href="/blog">Blogposts</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
