---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';

const posts = await Astro.glob('../posts/*.md');
---

<Layout title="k1f0.dev">
	<div class="contentWrapper">
		<div class="container">
			{posts.map(post => (
				<Post>
					<h2>{post.frontmatter.title}</h2>
					<p>{post.frontmatter.excerpt}</p>  
					<a class="btn btn-post" href={`/${post.frontmatter.shortcut}`}>Read More &gt</a>
				</Post>
			))}
		</div>
	</div>
</Layout>
