---
import { getRawPostData } from "../lib/helpers";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const POSTS_PATH = process.env.POSTS_PATH || "/posts";
const POSTS = await getRawPostData(POSTS_PATH);
---

<Layout title="Blog - k1f0.dev" desc="Occasional Blog Posts">
    <Header />
    <div
        class="flex flex-row w-screen min-h-respect-header max-h-respect-header"
        transition:animate="fade"
    >
        <div
            class="post-container flex flex-col h-full m-auto w-full max-w-screen-xl p-4 mt-4"
        >
            {
                POSTS.reverse().map((post) => (
                    <div class="mb-8 listing-post post-preview">
                        <div class="flex flex-col lg:flex-row justify-between">
                            <h2>{post.data.title}</h2>
                            <p id="italic text-sm">
                                by <strong> {post.data.author} </strong> on
                                {new Date(post.data.date).toLocaleDateString(
                                    "en-GB"
                                )}
                            </p>
                        </div>
                        <p>{post.data.excerpt}</p>
                        <div class="flex items-center content-center justify-start mt-2">
                            <a
                                class="inline-block text-primary uppercase font-mono font-semibold text-base"
                                href={`/bp/${post.data.shortcut}`}
                            >
                                Read More <span class="text-xl">&gt</span>
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
