---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PostsListing from "../components/PostsListing.astro";
import { parseConfig } from "../lib/config";

const CONFIG = await parseConfig();
---

<Layout
    site={CONFIG.site}
    title={`Posts - ${CONFIG.name}`}
    desc={CONFIG.description}
>
    <Header name={CONFIG.name} />
    <div
        class="flex flex-col w-full h-full min-h-[calc(100vh-3.5rem)] mt-2"
        transition:animate="fade"
    >
        <PostsListing server:defer>
            <div slot="fallback" class="flex flex-col m-auto">
                <svg
                    class="text-primary"
                    width="128"
                    height="128"
                    version="1.1"
                    id="L4"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 50 100"
                    enable-background="new 0 0 0 0"
                    xml:space="preserve"
                >
                    <circle
                        fill="currentColor"
                        stroke="none"
                        cx="6"
                        cy="50"
                        r="6"
                    >
                        <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.1"></animate>
                    </circle>
                    <circle
                        fill="currentColor"
                        stroke="none"
                        cx="26"
                        cy="50"
                        r="6"
                    >
                        <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.2"></animate>
                    </circle>
                    <circle
                        fill="currentColor"
                        stroke="none"
                        cx="46"
                        cy="50"
                        r="6"
                    >
                        <animate
                            attributeName="opacity"
                            dur="1s"
                            values="0;1;0"
                            repeatCount="indefinite"
                            begin="0.3"></animate>
                    </circle>
                </svg>
            </div>
        </PostsListing>
    </div>
</Layout>
