---
import astro from '../image/astro.svg'
---

<footer class="footer">
    <div class="footer-container">
        <p>
            Powered by
            <a href="https://astro.build/">Astro</a>
            <img src={astro} alt="" /> |
            Source Code on
            <a href="https://github.com/K1llf0rce/k1f0.dev">Github</a>
            <i class="devicon-github-original" />
        </p>
    </div>
</footer>
