<footer class="footer">
    <div class="footer-container">
        <p>
            Made with
            <a href="https://astro.build/">Astro</a>
            and ❤️ ~ k1f0
        </p>
    </div>
</footer>
