---
import astro from '../image/astro.svg'
---

<footer class="footer">
    <div class="footer-container">
        <p>
            Powered by
            <a href="https://astro.build/">Astro</a>
            | Source on
            <a href="https://github.com/0xk1f0/k1f0.dev">Github</a>
        </p>
    </div>
</footer>
