---
import codeberg_icon from '../image/codeberg.svg'
import github_icon from '../image/github.svg'
import about_icon from '../image/about.svg'
import blog_icon from '../image/blog.svg'
---

<header class="header">
    <div class="header-container">
        <div class="icon-container">
            <a href="/">
                <p>k1f0.dev</p>
            </a>
        </div>
        <div class="link-container">
            <a href="/blog">
                <img src={blog_icon} alt="blog_ic" />
            </a>
            <a href="/about">
                <img src={about_icon} alt="wh_ic" />
            </a>
            <a href="https://github.com/0xk1f0">
                <img src={github_icon} alt="gh_ic" />
            </a>
            <a href="https://codeberg.org/0xk1f0">
                <img src={codeberg_icon} alt="cb_ic" />
            </a>
        </div>
    </div>
</header>
