---
import path from "path";

export interface Props {
    icon: string;
    label: string;
    link: string;
    ext: boolean;
}

const {
    icon = "",
    label = "",
    link = "",
    ext = false,
} = Astro.props as Props;

const ICON_PATH = path.join("/icons", path.basename(icon));
---

<div
    class="m-3 h-12 w-12 hover:translate-y-0.5 transition"
>
    <a href={link} target={ext ? "_blank" : "_self"}>
        <img width="48px" height="48px" alt={label} src={ICON_PATH} />
    </a>
</div>
