---
import path from "path";

export interface Props {
    icon: string;
    label: string;
    link: string;
    ext: boolean;
}

const { icon = "", label = "", link = "", ext = false } = Astro.props as Props;

const ICON_PATH = path.join("/icons", path.basename(icon));
---

<div class="link-entry m-3 h-12 w-12 transition rounded-full">
    <a href={link} target={ext ? "_blank" : "_self"}>
        <img width="48px" height="48px" alt={label} src={ICON_PATH} />
    </a>
</div>

<style>
    .link-entry {
        filter: drop-shadow(0px 0px 35px var(--color-primary));
    }
    .link-entry:hover,
    .link-entry:active,
    .link-entry:focus {
        scale: 105%;
        filter: drop-shadow(0px 0px 50px var(--color-foreground)) !important;
    }
</style>
