---
import { getRawPostList } from "../lib/database";

const POSTS = await getRawPostList();
---

<div
    class="post-container flex flex-col h-full mx-auto px-6 w-full max-w-screen-xl"
>
    {
        POSTS.sort((a, b) =>
            new Date(b.data.date) > new Date(a.data.date) ? 1 : -1,
        ).map((post) => (
            <div class="mb-6 listing-post post-preview">
                <div class="flex flex-col lg:flex-row justify-between">
                    <h2>{post.data.title}</h2>
                    <p id="italic text-sm">
                        by <strong> {post.data.author} </strong> on
                        {new Date(post.data.date).toLocaleDateString("en-GB")}
                    </p>
                </div>
                <p>{post.data.excerpt}</p>
                <div class="flex items-center content-center justify-start mt-2">
                    <a
                        class="inline-block text-primary uppercase font-mono font-semibold text-base"
                        href={`/blog/${post.data.shortcut}`}
                        data-astro-prefetch
                    >
                        Read More <span class="text-xl">&gt</span>
                    </a>
                </div>
            </div>
        ))
    }
</div>
