---
import { getPostMetaList } from "@lib/database";

const POSTS = await getPostMetaList();
---

<div class="flex flex-col h-full mx-auto px-6 w-full max-w-screen-xl">
    {
        POSTS.sort((a, b) =>
            new Date(b.date) > new Date(a.date) ? 1 : -1,
        ).map((post) => (
            <div class="listing-post mb-6 post-preview">
                <div class="flex flex-col lg:flex-row justify-between">
                    <h2>{post.title}</h2>
                    <p id="italic text-sm">
                        by <strong> {post.author} </strong> on
                        {new Date(post.date).toLocaleDateString("en-GB")}
                    </p>
                </div>
                <p>{post.excerpt}</p>
                <div class="flex items-center content-center justify-start mt-2">
                    <a
                        class="inline-block text-primary uppercase font-mono font-semibold text-base"
                        href={`/blog/${post.shortcut}`}
                        data-astro-prefetch
                    >
                        Read More <span class="text-xl">&gt</span>
                    </a>
                </div>
            </div>
        ))
    }
</div>

<style>
    .listing-post {
        filter: drop-shadow(0px 0px 35px var(--color-primary));
        animation: in 300ms;
    }

    @keyframes in {
        0% {
            filter: drop-shadow(0px 0px 5px var(--color-primary)) blur(5px);
            scale: 100% 95%;
            opacity: 0;
        }
        100% {
            scale: 100% 100%;
            opacity: 1;
        }
    }
</style>
