---
import path from "path";

export interface Props {
    icon: string;
    desc: string;
    link: string;
    borderColor: string;
    backgroundColor: string;
    foregroundColor: string;
}

const {
    icon = "",
    desc = "",
    link = "",
    borderColor = "",
    backgroundColor = "",
    foregroundColor = "",
} = Astro.props as Props;
const ICONS_PATH = "/icons";
const ICON = path.basename(icon);
---

<div
    style={{ backgroundColor: backgroundColor, borderColor: borderColor }}
    class="flex flex-col justify-center w-full h-full max-h-[65px] m-1.5 border-2 rounded-md hover:!border-white transition"
>
    <a href={link} target="_blank">
        <div
            class="flex flex-row w-full justify-center h-full space-x-2 p-2"
        >
            <img
                class="my-auto w-6 h-6"
                width="24px"
                height="24px"
                src={path.join(ICONS_PATH, ICON)}
            />
            <p class="my-auto text-lg text-center break-all -translate-y-0.5" style={{ color: foregroundColor }}>
                {desc}
            </p>
        </div>
    </a>
</div>
